*.DS_Store
step_5_comparisons/experiment_1/segway_data/*summary*.mat
step_5_comparisons/experiment_2/segway_data/*summary*.mat
step_5_comparisons/experiment_3/segway_data/*summary*.mat
step_5_comparisons/experiment_1/rover_data/*summary*.mat
step_5_comparisons/experiment_2/rover_data/*summary*.mat
step_5_comparisons/experiment_3/rover_data/*summary*.mat
step_5_comparisons/experiment_3/rover_data_b/*summary*.mat
step_5_comparisons/experiment_2/data_for_figures/*summary*.mat
*.asv
